[Unit]
Description=Temperature Fan Automation
After=network.target

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/Documents/iftttkey.env
WorkingDirectory=/home/pi/Documents/temp
ExecStart=/usr/bin/python3 /home/pi/Documents/temp/temp.py
Restart=on-failure
# Other restart options: always, on-abort, etc

[Install]
WantedBy=multi-user.target

